body {
     padding-top: 60px;
    padding-bottom: 40px;
  }
  .sidebar-nav {
    padding: 9px 0;
  }
  .selected {
    font-weight: bold;
    text-decoration: underline;
  }
  
.card {
    float: left;
    margin: .5em;
    padding: 1em;
    border: 1px solid #ddd;
    background-color: #eee;
    color: #444;
    text-align: center;
    min-width: 100px;
    
    h1 {
        font-size: 1.5em;
        font-weight: normal;
    }
    
    h2 {
        font-size: 1.7em;
    }
}



// COMMON classes
.clear_left {
    clear: left;
}